/Probescene/Adobe After Effects Auto-Save
/Animatic/Adobe Premiere Pro Audio Previews
/Animatic/Adobe Premiere Pro Auto-Save
/ProjektVideo/Adobe Premiere Pro Auto-Save
/Shots/Scene 02/Adobe After Effects Auto-Save
/Adobe Premiere Pro Auto-Save
/Shots/Scene 01/Adobe After Effects Auto-Save
/Shots/Adobe Premiere Pro Auto-Save
